version: "3.9"

services:
  # Base de Datos Unificada
  mysql-sisdb2025:
    image: mysql:8.0
    container_name: mysql-sisdb2025
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: abcd
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql 
      - db_data:/var/lib/mysql
    networks:
      - red_cadena_farmacia

  # Microservicio Catálogo (Puerto 8081)
  ms-catalogo:
    build:
      context: ./ms-catalogo/ms-catalogo # Ruta a la carpeta del repo
      dockerfile: Dockerfile
    container_name: ms-catalogo
    ports:
      - "8081:8081"
    environment:
      DB_HOST: mysql-sisdb2025
      DB_PORT: 3306
      DB_USER: root
      DB_PWD: abcd
      DB_NAME: catalogo_db
    depends_on:
      - mysql-sisdb2025
    networks:
      - red_cadena_farmacia

  # Microservicio Inventario (Puerto 8082)
  ms-inventario:
    build:
      context: ./ms-inventario/ms-Inventariov2
      dockerfile: Dockerfile
    container_name: ms-inventario
    ports:
      - "8082:8082"
    environment:
      DB_HOST: mysql-sisdb2025
      DB_PORT: 3306
      DB_USER: root
      DB_PWD: abcd
      DB_NAME: inventario_db # Asegúrate de que esta variable exista en su config
      API_CATALOGO: ms-catalogo
      FRONTEND: frontend-cadena-farmacia
      FRONTEND_PORT: 80
    depends_on:
      - mysql-sisdb2025
      - ms-catalogo
    networks:
      - red_cadena_farmacia

  # Microservicio Ventas (Puerto 8083)
  ms-ventas:
    build:
      context: ./ms-ventas/ms-ventas
      dockerfile: Dockerfile
    container_name: ms-ventas
    ports:
      - "8083:8083"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      DB_HOST: mysql-sisdb2025
      DB_PORT: 3306
      DB_NAME: ventas_db
      DB_USER: root
      DB_PASSWORD: abcd
      INVENTARIO_URL: http://ms-inventario:8082
    depends_on:
      - mysql-sisdb2025
      - ms-inventario
    networks:
      - red_cadena_farmacia

  # Frontend (React / Vite)
  frontend-cadena-farmacia:
    build:
      context: ./FRONT/frontend-cadena-farmacias # Ruta a la carpeta de tu front
      dockerfile: Dockerfile
    container_name: frontend-cadena-farmacia
    ports:
      - "5173:80"
    depends_on:
      - ms-catalogo
      - ms-inventario
      - ms-ventas
    networks:
      - red_cadena_farmacia

networks:
  red_cadena_farmacia:
    driver: bridge

volumes:
  db_data:
