version: "3.9"

services:
  ms-inventario:
    image: ms-inventario
    container_name: ms-inventario
    ports:
      - "8082:8082"
    environment:
      DB_HOST: mysql-sisdb2025
      DB_PORT: 3306
      DB_USER: root
      DB_PWD: abcd
      API_CATALOGO: ms-catalogo
      FRONTEND: frontend-cadena-farmacia
      FRONTEND_PORT: 80
    networks:
      - red_cadena_farmacia
networks:
  red_cadena_farmacia:
    external: true
