services:
  ms-inventariov2:
    image: ms-inventario
    ports:
      - "8082:8082"
    environment:
      DB_HOST: mysql-sisdb2025
      DB_PORT: 3306
      DB_USER: root
      DB_PWD: abcd
      API_CATALOGO: ms-catalogo
    networks:
      - red_cadena_farmacia
networks:
  red_cadena_farmacia:
    external: true
