services:
  ms-ventas:
    image: ms-ventas
    container_name: ms-ventas
    ports:
      - "8083:8083"
    environment:
      SPRING_PROFILES_ACTIVE: prod

      DB_HOST: mysql-sisdb2025
      DB_PORT: 3306
      DB_NAME: ventas_db
      DB_USER: root
      DB_PASSWORD: abcd

      INVENTARIO_URL: http://ms-inventario:8082
    networks:
      - red_cadena_farmacia

networks:
  red_cadena_farmacia:
    external: true
